In [1]:
import pandas as pd
employees_data = {
    'EmployeeID': [1, 2, 3, 4, 5, 1, 6, 7, 8, 9],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Frank', 'Grace', 'Heidi', 'Ivan'],
    'DepartmentID': [101, 102, 101, 103, 102, 101, 104, 105, 106, 107],
    'Salary': [6000, 7000, 8000, 5000, 7500, 6000, 9000, 4000, 3000, 10000],
    'HireDate': ['2020-01-15', '2019-03-22', '2021-06-30', '2018-07-19', '2022-09-10',
                 '2020-01-15', '2017-12-01', '2023-02-11', '2023-05-05', '2015-11-30'],
    'Location': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles',
                 'New York', 'Houston', 'Phoenix', 'Chicago', 'New York']
}
departments_data = {
    'DepartmentID': [101, 102, 103, 104, 105, 106, 107],
    'DepartmentName': ['HR', 'Finance', 'IT', 'Marketing', 'Sales', 'Support', 'Admin']
}
employees_df = pd.DataFrame(employees_data)
departments_df = pd.DataFrame(departments_data)

Merge the two tables on DepartmentID:

In [2]:
merged_df = pd.merge(employees_df, departments_df, on='DepartmentID')
print(merged_df.head())

   EmployeeID     Name  DepartmentID  Salary    HireDate     Location  \
0           1    Alice           101    6000  2020-01-15     New York
1           3  Charlie           101    8000  2021-06-30     New York
2           1    Alice           101    6000  2020-01-15     New York
3           2      Bob           102    7000  2019-03-22  Los Angeles
4           5      Eve           102    7500  2022-09-10  Los Angeles

  DepartmentName
0             HR
1             HR
2             HR
3        Finance
4        Finance

Removing Duplicates

In [3]:
merged_df.drop_duplicates(inplace=True)

Handling Outliers in Salary Column Using IQR

In [4]:
Q1 = merged_df['Salary'].quantile(0.25)
Q3 = merged_df['Salary'].quantile(0.75)
IQR = Q3 - Q1
merged_df = merged_df[(merged_df['Salary'] >= (Q1 - 1.5 * IQR)) & (merged_df['Salary'] <= (Q3 + 1.5 * IQR))]

Min-Max normalization on the Salary column:

In [5]:
merged_df['Salary'] = (merged_df['Salary'] - merged_df['Salary'].min()) / (merged_df['Salary'].max() - merged_df['Salary'].min())
print(merged_df.head())

   EmployeeID     Name  DepartmentID    Salary    HireDate     Location  \
0           1    Alice           101  0.428571  2020-01-15     New York
1           3  Charlie           101  0.714286  2021-06-30     New York
3           2      Bob           102  0.571429  2019-03-22  Los Angeles
4           5      Eve           102  0.642857  2022-09-10  Los Angeles
5           4    David           103  0.285714  2018-07-19      Chicago

  DepartmentName
0             HR
1             HR
3        Finance
4        Finance
5             IT

Apply one-hot encoding to the Location column:

In [6]:
merged_df = pd.get_dummies(merged_df, columns=['Location'], drop_first=True)
print(merged_df.head())

   EmployeeID     Name  DepartmentID    Salary    HireDate DepartmentName  \
0           1    Alice           101  0.428571  2020-01-15             HR
1           3  Charlie           101  0.714286  2021-06-30             HR
3           2      Bob           102  0.571429  2019-03-22        Finance
4           5      Eve           102  0.642857  2022-09-10        Finance
5           4    David           103  0.285714  2018-07-19             IT

   Location_Houston  Location_Los Angeles  Location_New York  Location_Phoenix
0             False                 False               True             False
1             False                 False               True             False
3             False                  True              False             False
4             False                  True              False             False
5             False                 False              False             False